/**
 * Dark Mode for WP Dashboard CSS
 */

// Import Colors
@import "colors";

// Import Variables
@import "variables";

// Import Admin
@import "admin";

// Import Main
@import "main";
@import "gutenberg";

// Import Plugins
@import "plugins/jetpack/jetpack";
@import "plugins/wp-nested-pages/wp-nested-pages";
@import "plugins/woocommerce/woocommerce";
@import "plugins/yoast-seo/yoast-seo";
@import "plugins/advanced-custom-fields/advanced-custom-fields";
@import "plugins/better-search-replace/better-search-replace";
@import "plugins/all-in-one-seo-pack/all-in-one-seo-pack";
@import "plugins/monsterinsights/monsterinsights";
@import "plugins/wp-to-twitter/wp-to-twitter";
@import "plugins/kadence-blocks/kadence-blocks";